.form--nav {
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 8px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
}

.form--title {
  text-align: center;
  margin-top: 30px;
}

.form--title hr {
  width: 10%;
  color: orange;
  margin: auto;
}

.form--title h2 {
  letter-spacing: 1.5px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.form--data {
  width: 32%; /* Adjusted width for better layout */
  margin: auto;
  margin-top: 40px;
  position: relative;
}

.form--box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form--box label {
  min-width: 120px; /* Adjusted label width */
  margin-right: 20px;
  font-size: 14px;
  padding: 10px;
}

.form--box input[type="text"],
.form--box input[type="email"],
.form--box input[type="password"],
.form--box input[type="date"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #00000021;
  border-radius: 4px;
}

.date-input-wrapper {
  display: flex;
  flex-direction: column; /* Displaying the items in column */
  align-items: flex-start; /* Aligning items to the start */
}

.date--example {
  font-size: 14px;
  color: #666;
  position: absolute;
  transform: translate(130%, -170%);
}

.submit--btn {
  background: rgb(76, 89, 231);
  color: white;
  padding: 10px 20px;
  float: right;
  border-radius: 2px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  right: 0;
}
.form--box input[type="date"] {
  margin-left: -17px;
}
form p {
  padding: 10px;
}
