.mySwiper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 10px;
  width: 80%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease;
}
.swiper-button-prev {
  margin-left: 70px;
}
.swiper-button-next {
  margin-right: 70px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover,
.mySwiper:hover .swiper-button-prev,
.mySwiper:hover .swiper-button-next {
  opacity: 1; /* Show navigation buttons on hover */
}

.swiper-button-prev,
.swiper-button-next {
  transition: all 1.3s ease;
}

section.grid--images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: auto;
  padding: 10px 8%;
  margin-top: 100px;
  gap: 20px;
  position: relative; 
  z-index: 20; 
}

section.grid--images img {
  width: 100%;
  border-radius: 10px;
}

section.brand--logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15%;
  margin-top: 50px;
  position: relative; 
  z-index: 50000000;

}

section.brand--logo img {
  width: 90px;
  
}

section.brand--logo img:hover {
  transform: scale(1.07);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media screen and (max-width: 992px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-left: 80px;
    margin-right: 80px;
  }

  section.grid--images {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 5%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin-left: 50px;
    margin-right: 50px;
  }

  section.grid--images {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 3%;
  }
}

@media screen and (max-width: 576px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none; /* Hide swiper navigation buttons on smaller screens */
  }

  section.grid--images {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 5%;
  }

  section.brand--logo {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  section.brand--logo img {
    margin-bottom: 10px;
  }
}
