.ourStore--nav {
  padding: 10px;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.099);
  margin: auto;
  border-radius: 6px;
  margin-top: 10px;
}
.ourStore--box {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 70px 5%;
  border: 1px solid rgba(0, 0, 0, 0.092);
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.ourStore--box img {
  width: 180px;
  height: 120px;
}
.ourStore--title {
  text-align: center;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 20px;
}
.ourStore--box ul h2 {
  font-weight: 500;
}
.ourStore--box li {
  flex: 1 1 auto;
  margin: auto;
  line-height: 30.5px;
}
.ourStore--title--hr {
  width: 130px;
  margin: auto;
  display: flex;
  color: rgb(245, 199, 116);
}
.ourStore--box ul {
  flex: 1;
  margin: auto;
  margin-left: 350px;
}

@media only screen and (max-width: 480px) {
  .ourStore--nav {
    width: 90%;
  }

  .ourStore--box {
    flex-direction: column;
    padding: 10px 5%;
  }

  .ourStore--box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .ourStore--box ul {
    margin-left: 0;
    text-align: center;
  }
}

/* Tablet and Small Laptop Screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ourStore--nav {
    width: 90%;
  }

  .ourStore--box {
    padding: 10px 5%;
  }

  .ourStore--box ul {
    margin-left: 0;
    text-align: center;
  }
}

/* Laptop Screens */
@media only screen and (min-width: 769px) and (max-width: 1079px) {
  .ourStore--nav {
    width: 90%;
  }

  .ourStore--box {
    padding: 10px 10%;
  }

  .ourStore--box ul {
    margin-left: 0;
    text-align: center;
  }
}

/* 1080p and Wider Screens */
@media only screen and (min-width: 1080px) {
  .ourStore--nav {
    width: 90%;
  }

  .ourStore--box {
    padding: 10px 10%;
  }

  .ourStore--box ul {
    margin-left: 200px; /* Adjusted for desktop view */
    text-align: left;
  }
}
