nav .firstNav {
  display: flex;
  gap: 10px;
  padding: 10px 8%;
  justify-content: space-between;
  background: url("../../../assets/Images/Navbar/bg_header.jpg");
  height: 55px;
  width: 100%;
  position: relative;
  z-index: 3333333;
}

.logo--icon {
  cursor: pointer;
}

nav .firstNav .left--nav img {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
}

nav .firstNav .right--nav .search,
.cog--wheel,
.profile--picture,
.shopping--bag {
  width: 27px;
  filter: invert();
  margin-right: 20px;
  cursor: pointer;
}

nav .firstNav .right--nav .cog--wheel:hover,
.profile--picture:hover,
.shopping--bag:hover {
  transform: scale(1.1);
}

nav .firstNav .middle--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

nav .firstNav .middle--nav img {
  width: 35px;
  border: none;
  filter: invert();
  cursor: pointer;
}

nav .firstNav .middle--nav .search--btn {
  background-color: rgb(244, 193, 99);
  outline: none;
  border-radius: 0px 20px 20px 0;
  margin-left: -20px;
  width: 80px;
  border: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .firstNav .middle--nav input[type="text"] {
  height: 30px;
  width: 450px;
  border-radius: 30px;
  padding: 15px;
  border: none;
}

nav .firstNav .middle--nav input[type="text"]::placeholder {
  color: grey;
}

nav .firstNav .right--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  
}

nav .firstNav .right--nav .bag--price {
  margin-left: -13px;
  color: white;
  cursor: not-allowed;
}

nav .firstNav .right--nav .wheel--settings,
nav .firstNav .right--nav .profile--settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: black;
  background-color: white;
  top: 45px;
  margin-left: -280px;
  z-index: 4;
  padding: 3px;
  width: 150px;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.217);

}

nav .firstNav .right--nav .wheel--settings.active,
nav .firstNav .right--nav .profile--settings.active {
  max-height: 65px;
  border-bottom: 2.5px solid orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.297);
}

nav .firstNav .right--nav .wheel--settings li,
nav .firstNav .right--nav .profile--settings li {
  cursor: pointer;
  margin-left: 5px;
  background-color: white;
}

nav .firstNav .right--nav .wheel--settings li:hover,
nav .firstNav .right--nav .profile--settings li:hover {
  color: rgb(217, 164, 66);
  transition: color 0.3s linear;
}

nav .firstNav .right--nav .wheel--settings li img {
  margin-top: 2px;
  position: relative;
  top: 4px;
  left: -3px;
  z-index: 55555555;
}

nav .firstNav .right--nav .balance--icon,
.heart--icon {
  width: 22px;
  padding: 5px;
}

/* Second Nav */
.secondNav {
  width: 100%;
  padding: 10px 8%;
  color: rgb(130, 126, 245);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.344);
  position: relative;
  z-index: 2;
}

.secondNav .secondNav--list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondNav .secondNav--list ul li {
  list-style: none;
  cursor: pointer;
  font-size: 14px;
}

.secondNav .secondNav--list ul .climatisation--btn {
  background-color: rgb(244, 193, 99);
  font-size: 14px;
  color: white;
  padding: 7px;
  border-radius: 50px;
}

.secondNav .secondNav--list ul li:hover {
  transform: scale(1.03);
  transition: 0.2s linear;
}

.secondNav .secondNav--list ul :nth-child(1):hover {
  background-color: rgb(87, 87, 184);
}

.component-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 8%;
  z-index: 999999999;
  background-color: white;
  position: absolute;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.7s ease-out, opacity 0.4s ease-out;
  border-bottom: 2px solid orange;
 width:100%;
  
}

.component-container.active {
  max-height: 650px; 
  opacity: 1;
 width:100%;

}


.component {
  flex: 1 1 auto;
  background-color: #ffffff;
 width:100%;

}

.component ul {
  list-style-type: none;
  padding: 0;
 width:100%;

}

.component h2 {
  font-size: 15px;
  color: rgb(130, 126, 245);
  padding: 5px;
 width:100%;

}

.component li {
  font-size: 13px;
  color: rgb(87, 87, 87);
  padding: 5px;
  letter-spacing: 1.1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 20px;
}
.component li:hover{
  color: orange;
  transition: 0.2s ease-in;
}
